body{
  margin: 0;
padding: 0;
box-sizing: border-box;
overflow-x: hidden;
}

#Headerlist{
  list-style-type: none;
  margin: 0;
  padding: 8px;
  max-width: 15%;
  background-color: rgba(0, 0, 0, 0.644);
  color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

#linkHeader a {
  display: block;
  font-size: 11px;
  overflow-y: hidden;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

#linkHeader a.active {
  background-color: #04AA6D;
  color: white;
}

#linkHeader a:hover:not(.active) {
  background-color:red;
  color: white;
}

#Header-image{
  margin-left:15%;
  max-width: 85%;
  padding:1px 16px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  height:210px;
}
#imgHeader{
  height: 200px;
  margin-right: 150px;
  float: right;
}

#layer1HeaderImage{
  margin-left: 100px;
  margin-top: 30px;
  text-align: center;
  color: white;
  width: 400px; 
  
}

#textHeaderImage{
  text-align: center;
  font-size: 12px;
  width: 350px; 
  margin-left: 20px;
}

#btnHeaderImage{
  margin-left: 250px; 
  margin-top: 5px;
}

#navbar{
  margin-left: 15%;
  max-width: 85%;
  height: 60px;
}


#slot{
  margin-left: 15%;
  max-width: 85%;
}

#slotfontsize{
  color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

#imgsloticon{
display: flex-column;
width: 15px;
height: 15px;
padding: 0.093px 0px;
justify-content: center;
align-items: center;
}

#slot2{
  max-width: 85%;
  text-align: right;
  color: white;
  float: right;
  margin-right: 5px;
  text-decoration: none;
  transition: background-color .3s;

 
}

#slotlinks{
  margin-left: 15%;
}
 
  footer {  
   background: rgb(15, 15, 15);  
    color: white;  
    margin-top:100px; 
    margin-left: 15%; 
  }  
  footer a {  
    color: #fff;  
    font-size: 14px;  
    transition-duration: 0.2s;  
  }  
  footer a:hover {  
    color: #FA944B;  
    text-decoration: none;  
  }  
  .copy {  
    font-size: 12px;  
    padding: 10px;  
    border-top: 1px solid #FFFFFF;  
  }  
  .footer-middle {  
    padding-top: 2em;  
    color: white;  
  }  
  ul.social-network {  
    list-style: none;  
    display: inline;  
    margin-left: 0 !important;  
    padding: 0;  
  }  
  ul.social-network li {  
    display: inline;  
    margin: 0 5px;  
  }  
    
  .social-network a.icoFacebook:hover {  
    background-color: #3B5998;  
  }  
  .social-network a.icoLinkedin:hover {  
    background-color: #007bb7;  
  }  
  .social-network a.icoFacebook:hover i  
  {  
    color: #fff;  
  }  
  .social-network a.icoLinkedin:hover i {  
    color: #fff;  
  }  
  .social-network a.socialIcon:hover {  
    color: #44BCDD;  
  }  
  .socialHoverClass {  
    color: #44BCDD;  
  }  
  .social-circle li a {  
    display: inline-block;  
    position: relative;  
    margin: 0 auto 0 auto;  
    -moz-border-radius: 50%;  
    -webkit-border-radius: 50%;  
    border-radius: 50%;  
    text-align: center;  
    width: 30px;  
    height: 30px;  
    font-size: 15px;  
  }  
  .social-circle li i {  
    margin: 0;  
    line-height: 30px;  
    text-align: center;  
  }  
  .social-circle li a:hover i  
  {  
    -moz-transform: rotate(360deg);  
    -webkit-transform: rotate(360deg);  
    -ms--transform: rotate(360deg);  
    transform: rotate(360deg);  
    -webkit-transition: all 0.2s;  
    -moz-transition: all 0.2s;  
    -o-transition: all 0.2s;  
    -ms-transition: all 0.2s;  
    transition: all 0.2s;  
  }  
  .triggeredHover {  
    -moz-transform: rotate(360deg);  
    -webkit-transform: rotate(360deg);  
    -ms--transform: rotate(360deg);  
    transform: rotate(360deg);  
    -webkit-transition: all 0.2s;  
    -moz-transition: all 0.2s;  
    -o-transition: all 0.2s;  
    -ms-transition: all 0.2s;  
    transition: all 0.2s;  
  }  
  .social-circle i {  
    color: #595959;  
    -webkit-transition: all 0.8s;  
    -moz-transition: all 0.8s;  
    -o-transition: all 0.8s;  
    -ms-transition: all 0.8s;  
    transition: all 0.8s;  
  }  
  .social-network a {  
    background-color: #F9F9F9;  
  }  
  .social-network a:hover {  
  background: #ff304d;  
  } 

  .footer-pad a{
    text-decoration: none;
  }

  /* *********************************************************** */

  #FeatureBtn {
    display: block;
    color: white;
    font-size: 12px;
    margin: 7px;
  
    background-color: #2f2f37;
  }
  
  #FeatureBtn :hover {
    background-color: rgb(226, 27, 27);
  }

  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: white;
    text-align: center;
    height: 1.5em;
    opacity: 1;
    &:before {
      content: '';
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: white;
  
      padding: 0 .5em;
      line-height: 1.5em;

      color: white;
      background-color: black;
    }
  }

  #ddlCountry{
    display: inline-block;
    width: 100%;
  }

  #RegisterBar{
    margin-left: 15%;
  }

#demo,#img1{
  margin-left:15%;
  width: 1140px;

  height:210px;
}